body{
	background-image:ul(two.jpg);
	}
	<style>
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
	
.myform{
	background-color:white;
	width:400px;
	height:200px;
	opacity:1;
	margin-left:100px;
	margin-top:20px;
	text-align:center;
	}
	.div-img{
	float:left;
	width:50%;
	height:1000px;
	}
	.digblocform{
	width:50%;
	height:1000px;
	float:left;
	
	}
	
	.contener{
	background-color:#ececec;
	margin:auto;
	width:1100px;
	height:600px;
	border: 3px solid white;
	}
</style>